@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
      }
    
      .logo {
        display: none;
      }
    
      .navbar-nav {
        flex-direction: row;
      }
    
      .nav-link {
        justify-content: center;
      }
    
      .App {
        margin: 0;
      }

}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
      }
    
      .navbar:hover {
        width: 16rem;
      }
    
      .navbar:hover .link-text {
        display: inline;
      }
    
      .navbar:hover .logo .icon
      {
        margin-left: 11rem;
      }
    
      .navbar:hover .logo-text
      {
        left: 0px;
      }
}

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

body {
    color: black;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    outline: 0;
}